In [7]:
from TicTacToe import GameTools as gt
import pandas as pd
import random

In [17]:
dataframes = list()

for ct in range(1, 7, 2):
    data = list()
    for _ in range(300):
        player = random.randint(0, 1)
        data.append(gt.randomized_match(first_player=player, open_pos=ct))
    dataframes.append(pd.DataFrame(data))

dataframes

[                                     board  first_player  \
 0       [[0, 1, 0], [1, -1, 1], [1, 0, 0]]             0
 1       [[0, -1, 1], [0, 1, 1], [1, 0, 0]]             0
 2      [[0, -1, 1], [0, 0, -1], [1, 1, 0]]             0
 3      [[0, 1, -1], [0, 0, 0], [1, -1, 1]]             0
 4       [[0, 1, 0], [-1, 0, 1], [1, 0, 1]]             1
 ..                                     ...           ...
 295     [[0, 1, 0], [1, 1, -1], [1, 0, 0]]             1
 296  [[1, 1, 1], [0, -1, -1], [-1, -1, 0]]             1
 297    [[-1, 1, -1], [0, 0, 0], [0, 1, 1]]             0
 298     [[0, 1, 1], [-1, 1, 0], [0, 0, 1]]             1
 299     [[0, 1, 0], [0, 1, 0], [1, -1, 1]]             1

                         move_history  winner  1  2  3  4  5  6  7  8  9
 0    [-8, 7, -5, 4, -3, 7, -9, 5, 0]     NaN -8  7 -5  4 -3  7 -9  5  0
 1    [-9, 7, -8, 5, -5, 6, -3, 7, 0]     1.0 -9  7 -8  5 -5  6 -3  7  0
 2    [-6, 5, -9, 8, -5, 7, -3, 0, 0]     0.0 -6  5 -9  8 -5  7 -3  0  0
 3    [-5, 4, -7, 7, -3, 9, -6, 0, 0]     0.0 -5  4 -7  7 -3  9 -6  0  0
 4    [-4, 8, -7, 6, -9, 3, -7, 5, 0]     NaN -4  8 -7  6 -9  3 -7  5  0
 ..                               ...     ... .. .. .. .. .. .. .. .. ..
 295  [-6, 5, -4, 9, -5, 3, -7, 8, 0]     NaN -6  5 -4  9 -5  3 -7  8  0
 296   [-3, 9, -5, 5, -4, 0, 0, 0, 0]     1.0 -3  9 -5  5 -4  0  0  0  0
 297  [-5, 4, -7, 9, -6, 8, -7, 0, 0]     0.0 -5  4 -7  9 -6  8 -7  0  0
 298  [-9, 8, -5, 7, -6, 3, -4, 7, 0]     NaN -9  8 -5  7 -6  3 -4  7  0
 299  [-6, 3, -7, 5, -4, 7, -9, 5, 0]     NaN -6  3 -7  5 -4  7 -9  5  0

 [300 rows x 13 columns],
                                      board  first_player  \
 0     [[-1, -1, -1], [1, 1, 0], [1, 0, 0]]             0
 1     [[0, 1, -1], [0, -1, 0], [1, -1, 1]]             0
 2     [[0, 1, -1], [1, 0, -1], [1, -1, 0]]             1
 3    [[-1, 1, 1], [0, 0, 0], [-1, -1, -1]]             0
 4     [[0, 0, -1], [0, 1, 1], [-1, -1, 1]]             1
 ..                                     ...           ...
 295   [[-1, 0, 1], [1, 0, -1], [-1, 1, 0]]             1
 296   [[-1, 1, -1], [-1, 0, 0], [1, 1, 0]]             1
 297   [[0, 1, -1], [-1, 0, 0], [-1, 1, 1]]             1
 298   [[1, -1, 1], [0, 0, 1], [-1, 0, -1]]             0
 299   [[0, 0, -1], [-1, -1, 1], [0, 1, 1]]             1

                        move_history  winner  1  2  3  4  5  6  7  8  9
 0    [-8, 6, -9, 7, -7, 5, 0, 0, 0]     NaN -8  6 -9  7 -7  5  0  0  0
 1    [-3, 7, -7, 9, -5, 4, 0, 0, 0]     NaN -3  7 -7  9 -5  4  0  0  0
 2    [-7, 9, -4, 6, -5, 3, 0, 0, 0]     0.0 -7  9 -4  6 -5  3  0  0  0
 3    [-5, 4, -6, 5, -7, 0, 0, 0, 0]     0.0 -5  4 -6  5 -7  0  0  0  0
 4    [-7, 4, -6, 5, -9, 3, 0, 0, 0]     NaN -7  4 -6  5 -9  3  0  0  0
 ..                              ...     ... .. .. .. .. .. .. .. .. ..
 295  [-8, 6, -5, 4, -5, 9, 0, 0, 0]     NaN -8  6 -5  4 -5  9  0  0  0
 296  [-8, 9, -7, 6, -4, 7, 0, 0, 0]     NaN -8  9 -7  6 -4  7  0  0  0
 297  [-9, 3, -4, 6, -8, 7, 0, 0, 0]     NaN -9  3 -4  6 -8  7  0  0  0
 298  [-6, 5, -5, 7, -8, 3, 0, 0, 0]     NaN -6  5 -5  7 -8  3  0  0  0
 299  [-7, 7, -9, 3, -8, 4, 0, 0, 0]     NaN -7  7 -9  3 -8  4  0  0  0

 [300 rows x 13 columns],
                                       board  first_player  \
 0    [[0, -1, 0], [-1, 1, -1], [-1, 1, -1]]             0
 1    [[-1, -1, 0], [-1, 1, 0], [1, -1, -1]]             0
 2    [[1, -1, -1], [0, 0, -1], [-1, -1, 1]]             0
 3    [[-1, 1, 1], [-1, -1, -1], [0, 0, -1]]             1
 4    [[-1, 0, -1], [-1, -1, -1], [1, 1, 0]]             0
 ..                                      ...           ...
 295  [[-1, -1, 1], [-1, 0, 0], [1, -1, -1]]             0
 296  [[-1, 1, -1], [1, -1, -1], [-1, 0, 0]]             1
 297  [[-1, 0, 0], [1, -1, 1], [-1, -1, -1]]             1
 298  [[0, -1, 0], [1, -1, -1], [1, -1, -1]]             1
 299  [[0, 1, -1], [1, -1, -1], [0, -1, -1]]             0

                       move_history winner  1  2  3  4  5  6  7  8  9
 0    [-5, 8, -3, 6, 0, 0, 0, 0, 0]   None -5  8 -3  6  0  0  0  0  0
 1    [-7, 7, -5, 6, 0, 0, 0, 0, 0]   None -7  7 -5  6  0  0  0  0  0
 2    [-5, 3, -6, 9, 0, 0, 0, 0, 0]   None -5  3 -6  9  0  0  0  0  0
 3    [-5, 7, -4, 8, 0, 0, 0, 0, 0]   None -5  7 -4  8  0  0  0  0  0
 4    [-4, 8, -9, 7, 0, 0, 0, 0, 0]   None -4  8 -9  7  0  0  0  0  0
 ..                             ...    ... .. .. .. .. .. .. .. .. ..
 295  [-7, 5, -6, 7, 0, 0, 0, 0, 0]   None -7  5 -6  7  0  0  0  0  0
 296  [-5, 9, -4, 8, 0, 0, 0, 0, 0]   None -5  9 -4  8  0  0  0  0  0
 297  [-5, 4, -7, 5, 0, 0, 0, 0, 0]   None -5  4 -7  5  0  0  0  0  0
 298  [-7, 3, -5, 5, 0, 0, 0, 0, 0]   None -7  3 -5  5  0  0  0  0  0
 299  [-7, 5, -3, 4, 0, 0, 0, 0, 0]   None -7  5 -3  4  0  0  0  0  0

 [300 rows x 13 columns]]

In [20]:
dataframes[0]

,board,first_player,move_history,winner,1,2,3,4,5,6,7,8,9
0,"[[0, 1, 0], [1, -1, 1], [1, 0, 0]]",0,"[-8, 7, -5, 4, -3, 7, -9, 5, 0]",NaN,-8,7,-5,4,-3,7,-9,5,0
1,"[[0, -1, 1], [0, 1, 1], [1, 0, 0]]",0,"[-9, 7, -8, 5, -5, 6, -3, 7, 0]",1.0,-9,7,-8,5,-5,6,-3,7,0
2,"[[0, -1, 1], [0, 0, -1], [1, 1, 0]]",0,"[-6, 5, -9, 8, -5, 7, -3, 0, 0]",0.0,-6,5,-9,8,-5,7,-3,0,0
3,"[[0, 1, -1], [0, 0, 0], [1, -1, 1]]",0,"[-5, 4, -7, 7, -3, 9, -6, 0, 0]",0.0,-5,4,-7,7,-3,9,-6,0,0
4,"[[0, 1, 0], [-1, 0, 1], [1, 0, 1]]",1,"[-4, 8, -7, 6, -9, 3, -7, 5, 0]",NaN,-4,8,-7,6,-9,3,-7,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,"[[0, 1, 0], [1, 1, -1], [1, 0, 0]]",1,"[-6, 5, -4, 9, -5, 3, -7, 8, 0]",NaN,-6,5,-4,9,-5,3,-7,8,0
296,"[[1, 1, 1], [0, -1, -1], [-1, -1, 0]]",1,"[-3, 9, -5, 5, -4, 0, 0, 0, 0]",1.0,-3,9,-5,5,-4,0,0,0,0
297,"[[-1, 1, -1], [0, 0, 0], [0, 1, 1]]",0,"[-5, 4, -7, 9, -6, 8, -7, 0, 0]",0.0,-5,4,-7,9,-6,8,-7,0,0
298,"[[0, 1, 1], [-1, 1, 0], [0, 0, 1]]",1,"[-9, 8, -5, 7, -6, 3, -4, 7, 0]",NaN,-9,8,-5,7,-6,3,-4,7,0
299,"[[0, 1, 0], [0, 1, 0], [1, -1, 1]]",1,"[-6, 3, -7, 5, -4, 7, -9, 5, 0]",NaN,-6,3,-7,5,-4,7,-9,5,0

In [21]:
dataframes[1]

,board,first_player,move_history,winner,1,2,3,4,5,6,7,8,9
0,"[[-1, -1, -1], [1, 1, 0], [1, 0, 0]]",0,"[-8, 6, -9, 7, -7, 5, 0, 0, 0]",NaN,-8,6,-9,7,-7,5,0,0,0
1,"[[0, 1, -1], [0, -1, 0], [1, -1, 1]]",0,"[-3, 7, -7, 9, -5, 4, 0, 0, 0]",NaN,-3,7,-7,9,-5,4,0,0,0
2,"[[0, 1, -1], [1, 0, -1], [1, -1, 0]]",1,"[-7, 9, -4, 6, -5, 3, 0, 0, 0]",0.0,-7,9,-4,6,-5,3,0,0,0
3,"[[-1, 1, 1], [0, 0, 0], [-1, -1, -1]]",0,"[-5, 4, -6, 5, -7, 0, 0, 0, 0]",0.0,-5,4,-6,5,-7,0,0,0,0
4,"[[0, 0, -1], [0, 1, 1], [-1, -1, 1]]",1,"[-7, 4, -6, 5, -9, 3, 0, 0, 0]",NaN,-7,4,-6,5,-9,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,"[[-1, 0, 1], [1, 0, -1], [-1, 1, 0]]",1,"[-8, 6, -5, 4, -5, 9, 0, 0, 0]",NaN,-8,6,-5,4,-5,9,0,0,0
296,"[[-1, 1, -1], [-1, 0, 0], [1, 1, 0]]",1,"[-8, 9, -7, 6, -4, 7, 0, 0, 0]",NaN,-8,9,-7,6,-4,7,0,0,0
297,"[[0, 1, -1], [-1, 0, 0], [-1, 1, 1]]",1,"[-9, 3, -4, 6, -8, 7, 0, 0, 0]",NaN,-9,3,-4,6,-8,7,0,0,0
298,"[[1, -1, 1], [0, 0, 1], [-1, 0, -1]]",0,"[-6, 5, -5, 7, -8, 3, 0, 0, 0]",NaN,-6,5,-5,7,-8,3,0,0,0
299,"[[0, 0, -1], [-1, -1, 1], [0, 1, 1]]",1,"[-7, 7, -9, 3, -8, 4, 0, 0, 0]",NaN,-7,7,-9,3,-8,4,0,0,0

In [22]:
dataframes[2]

,board,first_player,move_history,winner,1,2,3,4,5,6,7,8,9
0,"[[0, -1, 0], [-1, 1, -1], [-1, 1, -1]]",0,"[-5, 8, -3, 6, 0, 0, 0, 0, 0]",None,-5,8,-3,6,0,0,0,0,0
1,"[[-1, -1, 0], [-1, 1, 0], [1, -1, -1]]",0,"[-7, 7, -5, 6, 0, 0, 0, 0, 0]",None,-7,7,-5,6,0,0,0,0,0
2,"[[1, -1, -1], [0, 0, -1], [-1, -1, 1]]",0,"[-5, 3, -6, 9, 0, 0, 0, 0, 0]",None,-5,3,-6,9,0,0,0,0,0
3,"[[-1, 1, 1], [-1, -1, -1], [0, 0, -1]]",1,"[-5, 7, -4, 8, 0, 0, 0, 0, 0]",None,-5,7,-4,8,0,0,0,0,0
4,"[[-1, 0, -1], [-1, -1, -1], [1, 1, 0]]",0,"[-4, 8, -9, 7, 0, 0, 0, 0, 0]",None,-4,8,-9,7,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,"[[-1, -1, 1], [-1, 0, 0], [1, -1, -1]]",0,"[-7, 5, -6, 7, 0, 0, 0, 0, 0]",None,-7,5,-6,7,0,0,0,0,0
296,"[[-1, 1, -1], [1, -1, -1], [-1, 0, 0]]",1,"[-5, 9, -4, 8, 0, 0, 0, 0, 0]",None,-5,9,-4,8,0,0,0,0,0
297,"[[-1, 0, 0], [1, -1, 1], [-1, -1, -1]]",1,"[-5, 4, -7, 5, 0, 0, 0, 0, 0]",None,-5,4,-7,5,0,0,0,0,0
298,"[[0, -1, 0], [1, -1, -1], [1, -1, -1]]",1,"[-7, 3, -5, 5, 0, 0, 0, 0, 0]",None,-7,3,-5,5,0,0,0,0,0
299,"[[0, 1, -1], [1, -1, -1], [0, -1, -1]]",0,"[-7, 5, -3, 4, 0, 0, 0, 0, 0]",None,-7,5,-3,4,0,0,0,0,0

In [5]:
df.to_csv('data/3k_samples.csv', index=False)