In [5]:
import sys
sys.path.append('..')

from TicTacToe import GameTools as gt
import Sample

In [10]:
positional_reinf_data = Sample.reinforcement_sample(n_samples=50000, class_type='XOD', save_file=True, directory="50k_XOD_reinf.csv")
positional_reinf_data

        1  2  3  4  5  6  7  8  9  label  first
0      -1  0  0  0  0  0  0  0  0     -1     -1
1      -1  0  0  0 -1  1  0  0  0     -1     -1
2       0  0  0  0 -1 -1 -1  1  1     -1     -1
3       0  1  0 -1 -1  1  0 -1  0      1     -1
4      -1  0  0  0  0  0  0  1  0      1      1
...    .. .. .. .. .. .. .. .. ..    ...    ...
190723 -1  0  0  1  0  0  0  0  0     -1      1
190724  0  0  0  0  0  1  0 -1 -1     -1     -1
190725  0 -1  0  0  0  1  0  0  0      1      1
190726  0  1  0 -1  0  0  0  0  0      1      1
190727  0  0 -1  0  0  0  0  0  0      1     -1

[190728 rows x 11 columns]