In [1]:
import sys
sys.path.append('..')

In [2]:
from TicTacToe import GameTools as gt
import pandas as pd
import random

In [3]:
# generating a list of DataFrames
# each table will contain a 300 randomly generated matches with varying levels of progression

dataframes = list()

for ct in range(1, 9, 2):
    data = list()
    for _ in range(300):
        player = random.randint(0, 1)
        data.append(gt.randomized_match(first_player=player, open_pos=ct))
    dataframes.append(pd.DataFrame(data))

dataframes

[                                     board  first_player  \
 0       [[0, -1, 0], [0, 1, 1], [1, 0, 1]]             1
 1       [[0, 0, 1], [0, -1, 1], [1, 1, 0]]             1
 2      [[0, -1, 1], [0, 0, -1], [1, 1, 0]]             0
 3      [[0, 0, 0], [-1, 1, 0], [1, -1, 1]]             0
 4       [[0, 1, -1], [1, 0, 0], [1, 0, 1]]             1
 ..                                     ...           ...
 295     [[0, 1, 0], [0, 0, 1], [1, 1, -1]]             0
 296    [[1, 0, 0], [-1, 1, 0], [1, -1, 1]]             1
 297    [[0, 1, -1], [0, 1, 0], [1, 1, -1]]             1
 298    [[0, 0, 0], [-1, 1, 0], [-1, 1, 1]]             0
 299  [[-1, -1, 1], [0, 0, 0], [1, -1, -1]]             0

                         move_history  winner  1  2  3  4  5  6  7  8  9
 0    [7, -8, 7, -3, 9, -5, 6, -5, 0]      -1  7 -8  7 -3  9 -5  6 -5  0
 1    [8, -3, 7, -5, 5, -9, 7, -4, 0]      -1  8 -3  7 -5  5 -9  7 -4  0
 2    [-9, 7, -5, 5, -6, 8, -3, 0, 0]       0 -9  7 -5  5 -6  8 -3  0  0
 3    [-5, 6, -4, 7, -7, 9, -3, 0, 0]       0 -5  6 -4  7 -7  9 -3  0  0
 4    [7, -7, 9, -6, 4, -3, 5, -8, 0]      -1  7 -7  9 -6  4 -3  5 -8  0
 ..                               ...     ... .. .. .. .. .. .. .. .. ..
 295  [-6, 7, -3, 8, -5, 7, -5, 4, 0]      -1 -6  7 -3  8 -5  7 -5  4  0
 296   [3, -7, 6, -5, 7, -4, 9, 0, 0]       1  3 -7  6 -5  7 -4  9  0  0
 297   [7, -5, 6, -7, 8, -3, 4, 0, 0]       1  7 -5  6 -7  8 -3  4  0  0
 298  [-3, 9, -7, 8, -4, 6, -5, 0, 0]       0 -3  9 -7  8 -4  6 -5  0  0
 299   [-6, 5, -7, 7, -5, 0, 0, 0, 0]       0 -6  5 -7  7 -5  0  0  0  0

 [300 rows x 13 columns],
                                      board  first_player  \
 0     [[0, 1, -1], [1, -1, 0], [-1, 1, 0]]             1
 1     [[1, -1, 0], [0, 0, 1], [1, -1, -1]]             1
 2    [[-1, 0, -1], [-1, 0, -1], [1, 1, 1]]             1
 3     [[1, -1, -1], [0, 0, 1], [0, 1, -1]]             0
 4     [[-1, -1, 1], [1, 0, 0], [1, 0, -1]]             0
 ..                                     ...           ...
 295   [[-1, 1, -1], [-1, 0, 1], [0, 1, 0]]             1
 296  [[0, 1, -1], [-1, 0, -1], [-1, 1, 0]]             0
 297  [[0, 0, 1], [-1, -1, 1], [-1, -1, 1]]             1
 298   [[0, 0, 1], [-1, -1, -1], [0, 1, 1]]             1
 299   [[-1, -1, 0], [0, -1, 1], [0, 1, 1]]             0

                        move_history  winner  1  2  3  4  5  6  7  8  9
 0    [4, -3, 5, -9, 8, -7, 0, 0, 0]      -1  4 -3  5 -9  8 -7  0  0  0
 1    [7, -5, 3, -5, 7, -6, 0, 0, 0]      -1  7 -5  3 -5  7 -6  0  0  0
 2     [9, -6, 8, -4, 7, 0, 0, 0, 0]       1  9 -6  8 -4  7  0  0  0  0
 3    [-5, 3, -7, 8, -6, 7, 0, 0, 0]      -1 -5  3 -7  8 -6  7  0  0  0
 4    [-6, 7, -8, 5, -7, 5, 0, 0, 0]      -1 -6  7 -8  5 -7  5  0  0  0
 ..                              ...     ... .. .. .. .. .. .. .. .. ..
 295  [8, -9, 7, -7, 4, -6, 0, 0, 0]      -1  8 -9  7 -7  4 -6  0  0  0
 296  [-6, 8, -3, 4, -9, 0, 0, 0, 0]       0 -6  8 -3  4 -9  0  0  0  0
 297   [9, -3, 5, -4, 7, 0, 0, 0, 0]       1  9 -3  5 -4  7  0  0  0  0
 298  [8, -7, 5, -3, 9, -4, 0, 0, 0]      -1  8 -7  5 -3  9 -4  0  0  0
 299  [-7, 8, -5, 9, -5, 7, 0, 0, 0]      -1 -7  8 -5  9 -5  7  0  0  0

 [300 rows x 13 columns],
                                       board  first_player  \
 0    [[0, 0, 1], [-1, -1, -1], [-1, -1, 1]]             0
 1    [[1, -1, -1], [-1, 1, -1], [0, -1, 0]]             1
 2    [[-1, 1, -1], [0, -1, -1], [0, -1, 1]]             1
 3    [[-1, -1, -1], [-1, 0, 1], [0, 1, -1]]             0
 4    [[0, 0, -1], [1, -1, -1], [-1, 1, -1]]             1
 ..                                      ...           ...
 295  [[-1, -1, 1], [-1, -1, 1], [0, 0, -1]]             0
 296  [[0, 0, 1], [-1, -1, -1], [1, -1, -1]]             1
 297  [[-1, 0, 0], [-1, -1, 1], [1, -1, -1]]             0
 298  [[-1, 0, 1], [-1, -1, 0], [1, -1, -1]]             0
 299  [[-1, -1, -1], [0, 1, -1], [0, 1, -1]]             0

                       move_history  winner  1  2  3  4  5  6  7  8  9
 0    [-3, 9, -4, 5, 0, 0, 0, 0, 0]      -1 -3  9 -4  5  0  0  0  0  0
 1    [3, -9, 6, -7, 0, 0, 0, 0, 0]      -1  3 -9  6 -7  0  0  0  0  0
 2    [9, -7, 4, -5, 0, 0, 0, 0, 0]      -1  9 -7  4 -5  0  0  0  0  0
 3    [-6, 7, -7, 8, 0, 0, 0, 0, 0]      -1 -6  7 -7  8  0  0  0  0  0
 4    [5, -3, 8, -4, 0, 0, 0, 0, 0]      -1  5 -3  8 -4  0  0  0  0  0
 ..                             ...     ... .. .. .. .. .. .. .. .. ..
 295  [-8, 5, -7, 7, 0, 0, 0, 0, 0]      -1 -8  5 -7  7  0  0  0  0  0
 296  [5, -4, 7, -3, 0, 0, 0, 0, 0]      -1  5 -4  7 -3  0  0  0  0  0
 297  [-4, 7, -5, 7, 0, 0, 0, 0, 0]      -1 -4  7 -5  7  0  0  0  0  0
 298  [-4, 5, -7, 7, 0, 0, 0, 0, 0]      -1 -4  5 -7  7  0  0  0  0  0
 299  [-7, 6, -5, 8, 0, 0, 0, 0, 0]      -1 -7  6 -5  8  0  0  0  0  0

 [300 rows x 13 columns],
                                         board  first_player  \
 0    [[-1, 1, -1], [-1, -1, -1], [0, -1, -1]]             0
 1    [[-1, -1, 1], [-1, 0, -1], [-1, -1, -1]]             1
 2    [[0, -1, -1], [-1, -1, 1], [-1, -1, -1]]             1
 3    [[-1, -1, 1], [0, -1, -1], [-1, -1, -1]]             0
 4    [[-1, -1, -1], [-1, -1, -1], [1, -1, 0]]             1
 ..                                        ...           ...
 295  [[-1, -1, -1], [-1, -1, -1], [-1, 0, 1]]             1
 296  [[-1, -1, -1], [-1, 1, -1], [0, -1, -1]]             0
 297  [[-1, -1, -1], [-1, 0, 1], [-1, -1, -1]]             1
 298  [[-1, -1, -1], [1, -1, 0], [-1, -1, -1]]             0
 299  [[0, -1, -1], [-1, -1, 1], [-1, -1, -1]]             1

                      move_history  winner  1  2  3  4  5  6  7  8  9
 0    [-7, 4, 0, 0, 0, 0, 0, 0, 0]      -1 -7  4  0  0  0  0  0  0  0
 1    [5, -6, 0, 0, 0, 0, 0, 0, 0]      -1  5 -6  0  0  0  0  0  0  0
 2    [7, -3, 0, 0, 0, 0, 0, 0, 0]      -1  7 -3  0  0  0  0  0  0  0
 3    [-5, 5, 0, 0, 0, 0, 0, 0, 0]      -1 -5  5  0  0  0  0  0  0  0
 4    [7, -9, 0, 0, 0, 0, 0, 0, 0]      -1  7 -9  0  0  0  0  0  0  0
 ..                            ...     ... .. .. .. .. .. .. .. .. ..
 295  [9, -8, 0, 0, 0, 0, 0, 0, 0]      -1  9 -8  0  0  0  0  0  0  0
 296  [-7, 6, 0, 0, 0, 0, 0, 0, 0]      -1 -7  6  0  0  0  0  0  0  0
 297  [7, -6, 0, 0, 0, 0, 0, 0, 0]      -1  7 -6  0  0  0  0  0  0  0
 298  [-7, 5, 0, 0, 0, 0, 0, 0, 0]      -1 -7  5  0  0  0  0  0  0  0
 299  [7, -3, 0, 0, 0, 0, 0, 0, 0]      -1  7 -3  0  0  0  0  0  0  0

 [300 rows x 13 columns]]

In [4]:
dataframes[0].to_csv('1_space_cluster_samples.csv', index=False)
dataframes[0]

,board,first_player,move_history,winner,1,2,3,4,5,6,7,8,9
0,"[[0, -1, 0], [0, 1, 1], [1, 0, 1]]",1,"[7, -8, 7, -3, 9, -5, 6, -5, 0]",-1,7,-8,7,-3,9,-5,6,-5,0
1,"[[0, 0, 1], [0, -1, 1], [1, 1, 0]]",1,"[8, -3, 7, -5, 5, -9, 7, -4, 0]",-1,8,-3,7,-5,5,-9,7,-4,0
2,"[[0, -1, 1], [0, 0, -1], [1, 1, 0]]",0,"[-9, 7, -5, 5, -6, 8, -3, 0, 0]",0,-9,7,-5,5,-6,8,-3,0,0
3,"[[0, 0, 0], [-1, 1, 0], [1, -1, 1]]",0,"[-5, 6, -4, 7, -7, 9, -3, 0, 0]",0,-5,6,-4,7,-7,9,-3,0,0
4,"[[0, 1, -1], [1, 0, 0], [1, 0, 1]]",1,"[7, -7, 9, -6, 4, -3, 5, -8, 0]",-1,7,-7,9,-6,4,-3,5,-8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,"[[0, 1, 0], [0, 0, 1], [1, 1, -1]]",0,"[-6, 7, -3, 8, -5, 7, -5, 4, 0]",-1,-6,7,-3,8,-5,7,-5,4,0
296,"[[1, 0, 0], [-1, 1, 0], [1, -1, 1]]",1,"[3, -7, 6, -5, 7, -4, 9, 0, 0]",1,3,-7,6,-5,7,-4,9,0,0
297,"[[0, 1, -1], [0, 1, 0], [1, 1, -1]]",1,"[7, -5, 6, -7, 8, -3, 4, 0, 0]",1,7,-5,6,-7,8,-3,4,0,0
298,"[[0, 0, 0], [-1, 1, 0], [-1, 1, 1]]",0,"[-3, 9, -7, 8, -4, 6, -5, 0, 0]",0,-3,9,-7,8,-4,6,-5,0,0
299,"[[-1, -1, 1], [0, 0, 0], [1, -1, -1]]",0,"[-6, 5, -7, 7, -5, 0, 0, 0, 0]",0,-6,5,-7,7,-5,0,0,0,0

In [5]:
dataframes[1].to_csv('3_space_cluster_samples.csv', index=False)
dataframes[1]

,board,first_player,move_history,winner,1,2,3,4,5,6,7,8,9
0,"[[0, 1, -1], [1, -1, 0], [-1, 1, 0]]",1,"[4, -3, 5, -9, 8, -7, 0, 0, 0]",-1,4,-3,5,-9,8,-7,0,0,0
1,"[[1, -1, 0], [0, 0, 1], [1, -1, -1]]",1,"[7, -5, 3, -5, 7, -6, 0, 0, 0]",-1,7,-5,3,-5,7,-6,0,0,0
2,"[[-1, 0, -1], [-1, 0, -1], [1, 1, 1]]",1,"[9, -6, 8, -4, 7, 0, 0, 0, 0]",1,9,-6,8,-4,7,0,0,0,0
3,"[[1, -1, -1], [0, 0, 1], [0, 1, -1]]",0,"[-5, 3, -7, 8, -6, 7, 0, 0, 0]",-1,-5,3,-7,8,-6,7,0,0,0
4,"[[-1, -1, 1], [1, 0, 0], [1, 0, -1]]",0,"[-6, 7, -8, 5, -7, 5, 0, 0, 0]",-1,-6,7,-8,5,-7,5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,"[[-1, 1, -1], [-1, 0, 1], [0, 1, 0]]",1,"[8, -9, 7, -7, 4, -6, 0, 0, 0]",-1,8,-9,7,-7,4,-6,0,0,0
296,"[[0, 1, -1], [-1, 0, -1], [-1, 1, 0]]",0,"[-6, 8, -3, 4, -9, 0, 0, 0, 0]",0,-6,8,-3,4,-9,0,0,0,0
297,"[[0, 0, 1], [-1, -1, 1], [-1, -1, 1]]",1,"[9, -3, 5, -4, 7, 0, 0, 0, 0]",1,9,-3,5,-4,7,0,0,0,0
298,"[[0, 0, 1], [-1, -1, -1], [0, 1, 1]]",1,"[8, -7, 5, -3, 9, -4, 0, 0, 0]",-1,8,-7,5,-3,9,-4,0,0,0
299,"[[-1, -1, 0], [0, -1, 1], [0, 1, 1]]",0,"[-7, 8, -5, 9, -5, 7, 0, 0, 0]",-1,-7,8,-5,9,-5,7,0,0,0

In [6]:
dataframes[2].to_csv('5_space_cluster_samples.csv', index=False)
dataframes[2]

,board,first_player,move_history,winner,1,2,3,4,5,6,7,8,9
0,"[[0, 0, 1], [-1, -1, -1], [-1, -1, 1]]",0,"[-3, 9, -4, 5, 0, 0, 0, 0, 0]",-1,-3,9,-4,5,0,0,0,0,0
1,"[[1, -1, -1], [-1, 1, -1], [0, -1, 0]]",1,"[3, -9, 6, -7, 0, 0, 0, 0, 0]",-1,3,-9,6,-7,0,0,0,0,0
2,"[[-1, 1, -1], [0, -1, -1], [0, -1, 1]]",1,"[9, -7, 4, -5, 0, 0, 0, 0, 0]",-1,9,-7,4,-5,0,0,0,0,0
3,"[[-1, -1, -1], [-1, 0, 1], [0, 1, -1]]",0,"[-6, 7, -7, 8, 0, 0, 0, 0, 0]",-1,-6,7,-7,8,0,0,0,0,0
4,"[[0, 0, -1], [1, -1, -1], [-1, 1, -1]]",1,"[5, -3, 8, -4, 0, 0, 0, 0, 0]",-1,5,-3,8,-4,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,"[[-1, -1, 1], [-1, -1, 1], [0, 0, -1]]",0,"[-8, 5, -7, 7, 0, 0, 0, 0, 0]",-1,-8,5,-7,7,0,0,0,0,0
296,"[[0, 0, 1], [-1, -1, -1], [1, -1, -1]]",1,"[5, -4, 7, -3, 0, 0, 0, 0, 0]",-1,5,-4,7,-3,0,0,0,0,0
297,"[[-1, 0, 0], [-1, -1, 1], [1, -1, -1]]",0,"[-4, 7, -5, 7, 0, 0, 0, 0, 0]",-1,-4,7,-5,7,0,0,0,0,0
298,"[[-1, 0, 1], [-1, -1, 0], [1, -1, -1]]",0,"[-4, 5, -7, 7, 0, 0, 0, 0, 0]",-1,-4,5,-7,7,0,0,0,0,0
299,"[[-1, -1, -1], [0, 1, -1], [0, 1, -1]]",0,"[-7, 6, -5, 8, 0, 0, 0, 0, 0]",-1,-7,6,-5,8,0,0,0,0,0

In [7]:
dataframes[3].to_csv('7_space_cluster_samples.csv', index=False)
dataframes[3]

,board,first_player,move_history,winner,1,2,3,4,5,6,7,8,9
0,"[[-1, 1, -1], [-1, -1, -1], [0, -1, -1]]",0,"[-7, 4, 0, 0, 0, 0, 0, 0, 0]",-1,-7,4,0,0,0,0,0,0,0
1,"[[-1, -1, 1], [-1, 0, -1], [-1, -1, -1]]",1,"[5, -6, 0, 0, 0, 0, 0, 0, 0]",-1,5,-6,0,0,0,0,0,0,0
2,"[[0, -1, -1], [-1, -1, 1], [-1, -1, -1]]",1,"[7, -3, 0, 0, 0, 0, 0, 0, 0]",-1,7,-3,0,0,0,0,0,0,0
3,"[[-1, -1, 1], [0, -1, -1], [-1, -1, -1]]",0,"[-5, 5, 0, 0, 0, 0, 0, 0, 0]",-1,-5,5,0,0,0,0,0,0,0
4,"[[-1, -1, -1], [-1, -1, -1], [1, -1, 0]]",1,"[7, -9, 0, 0, 0, 0, 0, 0, 0]",-1,7,-9,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,"[[-1, -1, -1], [-1, -1, -1], [-1, 0, 1]]",1,"[9, -8, 0, 0, 0, 0, 0, 0, 0]",-1,9,-8,0,0,0,0,0,0,0
296,"[[-1, -1, -1], [-1, 1, -1], [0, -1, -1]]",0,"[-7, 6, 0, 0, 0, 0, 0, 0, 0]",-1,-7,6,0,0,0,0,0,0,0
297,"[[-1, -1, -1], [-1, 0, 1], [-1, -1, -1]]",1,"[7, -6, 0, 0, 0, 0, 0, 0, 0]",-1,7,-6,0,0,0,0,0,0,0
298,"[[-1, -1, -1], [1, -1, 0], [-1, -1, -1]]",0,"[-7, 5, 0, 0, 0, 0, 0, 0, 0]",-1,-7,5,0,0,0,0,0,0,0
299,"[[0, -1, -1], [-1, -1, 1], [-1, -1, -1]]",1,"[7, -3, 0, 0, 0, 0, 0, 0, 0]",-1,7,-3,0,0,0,0,0,0,0

In [8]:
 # 3k samples
data = [gt.randomized_match(random.randint(0, 1), 0) for _ in range(3000)]
df_3k = pd.DataFrame(data)
df_3k

,board,first_player,move_history,winner,1,2,3,4,5,6,7,8,9
0,"[[0, 0, 0], [1, 0, 1], [0, 1, 1]]",0,"[-7, 5, -4, 7, -3, 9, -6, 8, -5]",0,-7,5,-4,7,-3,9,-6,8,-5
1,"[[1, 1, 1], [0, 1, 0], [0, 1, 0]]",1,"[5, -7, 8, -7, 6, -9, 3, -5, 4]",1,5,-7,8,-7,6,-9,3,-5,4
2,"[[0, 1, 0], [-1, 0, 1], [1, 1, 0]]",1,"[7, -5, 4, -6, 7, -9, 8, -3, 0]",0,7,-5,4,-6,7,-9,8,-3,0
3,"[[0, 1, 0], [1, 1, 1], [0, 0, 1]]",1,"[9, -7, 7, -8, 6, -5, 4, -3, 5]",1,9,-7,7,-8,6,-5,4,-3,5
4,"[[1, 1, 1], [0, 0, -1], [0, 0, 1]]",0,"[-8, 5, -5, 9, -7, 3, -6, 4, 0]",1,-8,5,-5,9,-7,3,-6,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,"[[0, 1, 0], [1, 0, 0], [1, 0, 1]]",0,"[-5, 5, -6, 4, -7, 9, -3, 7, -8]",-1,-5,5,-6,4,-7,9,-3,7,-8
2996,"[[1, 0, -1], [1, 1, -1], [1, 0, 0]]",1,"[7, -4, 3, -8, 6, -9, 5, 0, 0]",1,7,-4,3,-8,6,-9,5,0,0
2997,"[[0, 1, 1], [0, 0, 1], [1, 0, 0]]",0,"[-3, 5, -5, 7, -8, 4, -9, 7, -6]",0,-3,5,-5,7,-8,4,-9,7,-6
2998,"[[0, 1, 0], [1, 1, -1], [0, 1, -1]]",1,"[4, -3, 5, -5, 6, -7, 8, 0, 0]",1,4,-3,5,-5,6,-7,8,0,0
2999,"[[1, -1, 0], [-1, 1, 1], [0, 0, 1]]",1,"[9, -8, 7, -5, 3, -7, 6, 0, 0]",1,9,-8,7,-5,3,-7,6,0,0

In [9]:
df_3k.to_csv("3k_classifier_samples.csv", index=False)